{% extends 'base1.html' %}

{% block container1 %}

  <main class="container">
    <section class="row">
      <div class="col-12 col-lg-8">
        <h1 class="h3 my-5">Личный кабинет. Заказы</h1>


        {% for order in orders %}

          <div class="card my-4">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-7 col-lg-9">
                  <span class="h5 font-weight-bold">{{order["time"]}}</span>
                  <span class="h5">на сумму - {{order["amount"]}} P</span>
                </div>

              </div>
            </li>
            <div class="card-body">
              <div class="row">
                {% for meal in order["meals"].values() %}
                  <p class="col-4 text-muted">{{meal["title"]}} </p>
                  <p class="col-2 text-muted"> {{meal["quantity"]}} </p>
                  <p class="col-6 text-muted"> {{meal["price"]}} </p>
                {% endfor %}
              </div>
            </div>
          </ul>
        </div>
        {% endfor %}
      </div>
      <div class="col-4">
        <style>
          .change_pass {
              position: absolute;
              top: 15%;
              left: 90%;
              height: 30%;
              width: 50%;
              margin: -15% 0 0 -25%;
              background-color: #;
        </style>
        <div class="change_pass" >
          <a class="text-muted" href="{{ url_for('change_password_view') }}">Сменить пароль</a>
        </div>
      </div>
    </section>
  </main>

{% endblock %}